In [ ]:
# Download 5 dataset from any of the following and perform operations using pandas
# https://people.sc.fsu.edu/~jburkardt/data/csv/csv.html
# https://github.com/datablist/sample-csv-files

In [ ]:
# Use pandas and read csv files into dataframe
import pandas as pd
df1=pd.read_csv('/home/sw900b4_janitha/Assignments Janitha/big_data/code/Data_June4/addresses.csv',header=None)
print('\naddresses.csv\n',df1)
df2=pd.read_csv('/home/sw900b4_janitha/Assignments Janitha/big_data/code/Data_June4/airtravel.csv',header=0)
print('\nairtravel.csv\n',df2)
df3=pd.read_csv('/home/sw900b4_janitha/Assignments Janitha/big_data/code/Data_June4/biostats.csv',header=0)
print('\nbiostats.csv\n',df3)
df4=pd.read_csv('/home/sw900b4_janitha/Assignments Janitha/big_data/code/Data_June4/cities.csv',header=0)
print('\ncities.csv\n',df4)
df5=pd.read_csv('/home/sw900b4_janitha/Assignments Janitha/big_data/code/Data_June4/crash_catalonia.csv',header=0)
print('\ncrash_catalonia.csv\n',df5)

addresses.csv
                        0         1                                 2  \
0                   John       Doe                 120 jefferson st.
1                   Jack  McGinnis                      220 hobo Av.
2          John "Da Man"    Repici                 120 Jefferson St.
3                Stephen     Tyler  7452 Terrace "At the Plaza" road
4                    NaN  Blankman                               NaN
5  Joan "the bone", Anne       Jet               9th, at Terrace plc

             3    4      5
0    Riverside   NJ   8075
1        Phila   PA   9119
2    Riverside   NJ   8075
3     SomeTown   SD  91234
4     SomeTown   SD    298
5  Desert City   CO    123

airtravel.csv
    Month   "1958"   "1959"   "1960"
0    JAN      340      360      417
1    FEB      318      342      391
2    MAR      362      406      419
3    APR      348      396      461
4    MAY      363      420      472
5    JUN      435      472      535
6    JUL      491      548      622
7    AUG      505      559      606
8    SEP      404      463      508
9    OCT      359      407      461
10   NOV      310      362      390
11   DEC      337      405      432

biostats.csv
     Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0   Alex         "M"      41              74              170
1   Bert         "M"      42              68              166
2   Carl         "M"      32              70              155
3   Dave         "M"      39              72              167
4   Elly         "F"      30              66              124
5   Fran         "F"      33              66              115
6   Gwen         "F"      26              64              121
7   Hank         "M"      30              71              158
8   Ivan         "M"      53              72              175
9   Jake         "M"      32              69              143
10  Kate         "F"      47              69              139
11  Luke         "M"      34              72              163
12  Myra         "F"      23              62               98
13  Neil         "M"      36              75              160
14  Omar         "M"      38              70              145
15  Page         "F"      31              67              135
16  Quin         "M"      29              71              176
17  Ruth         "F"      28              65              131

cities.csv
      LatD   "LatM"   "LatS"  "NS"   "LonD"   "LonM"   "LonS"  "EW"  \
0      41        5       59   "N"       80       39        0   "W"
1      42       52       48   "N"       97       23       23   "W"
2      46       35       59   "N"      120       30       36   "W"
3      42       16       12   "N"       71       48        0   "W"
4      43       37       48   "N"       89       46       11   "W"
..    ...      ...      ...   ...      ...      ...      ...   ...
123    39       31       12   "N"      119       48       35   "W"
124    50       25       11   "N"      104       39        0   "W"
125    40       10       48   "N"      122       14       23   "W"
126    40       19       48   "N"       75       55       48   "W"
127    41        9       35   "N"       81       14       23   "W"

                 "City"  "State"
0          "Youngstown"       OH
1             "Yankton"       SD
2              "Yakima"       WA
3           "Worcester"       MA
4     "Wisconsin Dells"       WI
..                  ...      ...
123              "Reno"       NV
124            "Regina"       SA
125         "Red Bluff"       CA
126           "Reading"       PA
127           "Ravenna"      OH

[128 rows x 10 columns]

crash_catalonia.csv
   Day of Week   "Number of Crashes"
0      Sunday                 13664
1      Monday                 17279
2     Tuesday                 17337
3   Wednesday                 17394
4    Thursday                 17954
5      Friday                 19147
6    Saturday                 15714